:root {

    --clr-primary-brightOrange:hsl(31, 77%, 52%);
    --clr-primary-darkCyan:hsl(184, 100%, 22%);
    --clr-primary-veryDarkCyan:hsl(179, 100%, 13%);
    --clr-transparentWhite:hsla(0, 0%, 100%, 0.75);
    --clr-veryLightGray:hsl(0, 0%, 95%);
}

* {

    margin:0;
    padding:0;
    box-sizing: border-box;
}


/* HTML ELEMENTS */

/* HTML CLASSES  */